.home {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}

.home a {
  display: block;
  margin: 40px 0px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.home a:hover {
  background-color: white;
  color: gray;
}
