{% extends 'layout.html' %} {% block css %}

<link rel="stylesheet" href="{{url_for('static', filename='check.css')}}" />

{% endblock %} {% block content %}
<div class="check">
  <form action="http://localhost:5000/result" method="post">
    <p>
      <h3>학점 </h3>
      <input type="number" step="0.01" name="score" required />
    </p>
    <p id="toeic_opic">
      <h3>토익&오픽 </h3>
      <div id="select-english">
      <select name="subject" id="subject">
        <option value="toeic">토익</option>
        <option value="opic">오픽</option>
        <option value="none" selected>없음</option>
      </select>
    </div>
    </p>
    <p>
      <h3>대외 활동 횟수 </h3>
      <input type="number" step="1" name="activity" required />
    </p>
    <p>
      <h3>봉사 활동 횟수 </h3>
      <input type="number" step="1" name="volunteer" required />
    </p>
    <p>
      <h3>인턴 <span id="research-stuent">(or 학부연구생)</span> 활동 횟수 </h3>
      <input type="number" step="1" name="intern" required />
    </p>
    <input type="submit" value="확인" />
  </form>
</div>
{% endblock %} {% block script %}

<script src="{{url_for('static', filename='../static/javascript/check.js')}}"></script>
{% endblock %}
