{% extends 'layout.html' %} {% block css %}

<link rel="stylesheet" href="{{url_for('static', filename='detail.css')}}" />

{% endblock %} {% block content %}

<div class="semi-conductor-classes">
  <div class="class">
    <div class="title">
      <span>1. 서울대학교 반도체 공동연구소 반도체 공정 실습</span>
    </div>
    <div class="url">
      <a href="https://isrc.snu.ac.kr/online/general/login_new1.php"
        >https://isrc.snu.ac.kr/online/general/login_new1.php</a
      >
    </div>
    <div class="apply-method">
      <span>신청방법 : 홈페이지(추첨방식)</span>
    </div>
    <div class="pay">
      <span>수강료 : 일반(이론+실습) 98만원 / 학생(이론+실습) 52만원</span>
    </div>
    <div class="selection">
      <span>선발 : 회차당 일반 70명 / 학생 50명</span>
    </div>
    <div class="location">
      <span>위치 : 서울대학교 반도체공동연구소</span>
    </div>
    <div class="image">
      <img
        src="{{url_for('static', filename='../static/img/detail/1.png')}}"
        alt=""
      />
    </div>
  </div>

  <div class="class">
    <div class="title">
      <span>2. 반도체 공정기술교육원(STPA) 반도체 교육</span>
    </div>
    <div class="url">
      <a href="https://www.sptakorea.com/book-online"
        >https://www.sptakorea.com/book-online</a
      >
    </div>
    <div class="apply-method">
      <span>신청방법 : 홈페이지</span>
    </div>
    <div class="pay">
      <span>수강료 : 과정별로 상이</span>
    </div>
    <div class="selection">
      <span>선발 : 과정별로 상이</span>
    </div>
    <div class="location">
      <span
        >위치 : 반도체공정기술연구원 (경기도 수원시 영통구 창룡대로 256번길
        77(에이스광교타워3) B214호</span
      >
    </div>
    <div class="image">
      <img
        src="{{url_for('static', filename='../static/img/detail/2.png')}}"
        alt=""
      />
    </div>
  </div>

  <div class="class">
    <div class="title">
      <span>3. SEMI 대학생 반도체 공정실습</span>
    </div>
    <div class="url">
      <a
        href="https://www.semi.org/ko/connect/events/daehagsaengeul-wihan-bandochegongjeongsilseubgyoyug-2021#registration"
        >https://www.semi.org/ko/connect/events/daehagsaengeul-wihan-bandochegongjeongsilseubgyoyug-2021#registration
      </a>
    </div>
    <div class="apply-method">
      <span>신청방법 : 홈페이지</span>
    </div>
    <div class="pay">
      <span>수강료 : 15만원</span>
    </div>
    <div class="selection">
      <span>선발 : 과정별로 상이</span>
    </div>
    <div class="location">
      <span
        >위치 : 명지대 반도체공정진단연구소 (명지대 용인캠퍼스 제3공학관)</span
      >
    </div>
    <div class="image">
      <img
        src="{{url_for('static', filename='../static/img/detail/3.png')}}"
        alt=""
      />
    </div>
  </div>

  <div class="class">
    <div class="title">
      <span>4. 나노기술연구협의회 나노기술전문인력양성과정</span>
    </div>
    <div class="url">
      <a href="http://edu.kontrs.or.kr/main/main.asp"
        >http://edu.kontrs.or.kr/main/main.asp</a
      >
    </div>
    <div class="apply-method">
      <span>신청방법 : 홈페이지</span>
    </div>
    <div class="pay">
      <span>수강료 : 무료</span>
    </div>
    <div class="selection">
      <span>선발 : 과정별로 상이</span>
    </div>
    <div class="location">
      <span>위치 : 이론은 온라인, 실습은 현장</span>
    </div>
    <div class="image">
      <img
        src="{{url_for('static', filename='../static/img/detail/4.png')}}"
        alt=""
      />
    </div>
  </div>

  <div class="class">
    <div class="title">
      <span>5. 아주대학교 반도체공정실습</span>
    </div>
    <div class="url">
      <a
        href="https://labor.ajou.ac.kr/?mode=search&m=30013&s=30022&ISSTAT=ALL&searchType=A.ClassName&searchText=%EB%B0%98%EB%8F%84%EC%B2%B4"
        >https://labor.ajou.ac.kr/?mode=search&m=30013&s=30022&ISSTAT=ALL&searchType=A.ClassName&searchText=%EB%B0%98%EB%8F%84%EC%B2%B4</a
      >
    </div>
    <div class="apply-method">
      <span>신청방법 : 홈페이지(추첨방식)</span>
    </div>
    <div class="pay">
      <span>수강료 : 과정별로 상이</span>
    </div>
    <div class="selection">
      <span>선발 : 과정별로 상이</span>
    </div>
    <div class="location">
      <span>위치 : 비대면 원격 강의</span>
    </div>
    <div class="image">
      <img
        src="{{url_for('static', filename='../static/img/detail/5.png')}}"
        alt=""
      />
    </div>
  </div>

  <div class="class">
    <div class="title">
      <span>6. 반도체설계교육센터 반도체교육</span>
    </div>
    <div class="url">
      <a href="https://www.idec.or.kr/edu/schedule/"
        >https://www.idec.or.kr/edu/schedule/</a
      >
    </div>
    <div class="apply-method">
      <span>신청방법 : 홈페이지</span>
    </div>
    <div class="pay">
      <span>수강료 : 무료</span>
    </div>
    <div class="selection">
      <span>선발 : 과정별로 상이</span>
    </div>
    <div class="location">
      <span
        >위치 : IDEC본원(KAIST), 경북대, 광운대, 부산대, 전남대, 충북대,
        한양대</span
      >
    </div>
    <div class="image">
      <img
        src="{{url_for('static', filename='../static/img/detail/6.png')}}"
        alt=""
      />
    </div>
  </div>

  <div class="class">
    <div class="title">
      <span>7. 한국기술교육대학교 반도체장비교육센터 교육</span>
    </div>
    <div class="url">
      <a href="https://setec.step.or.kr/usrs/eduRegMgnt/coursePlanCalendar.do"
        >https://setec.step.or.kr/usrs/eduRegMgnt/coursePlanCalendar.do</span
      >
    </div>
    <div class="apply-method">
      <span>신청방법 : 홈페이지</span>
    </div>
    <div class="pay">
      <span>수강료 : 30만원~60만원</span>
    </div>
    <div class="selection">
      <span>선발 : 과정별로 상이</span>
    </div>
    <div class="location">
      <span>위치 : 비대면 원격 강의</span>
    </div>
    <div class="image">
      <img
        src="{{url_for('static', filename='../static/img/detail/7.png')}}"
        alt=""
      />
    </div>

    <div class="class">
      <div class="title">
        <span> 8. 엔지닉 반도체 공정 실습</span>
      </div>
      <div class="url">
        <a href="https://community.weport.co.kr/enginicbest">https://community.weport.co.kr/enginicbest</a>
      </div>
      <div class="apply-method">
        <span>신청방법 : 홈페이지</span>
      </div>
      <div class="pay">
        <span>수강료 : 과정별로 상이(사전 할인 혜택 있음)</span>
      </div>
      <div class="selection">
        <span>선발 : 과정별로 상이</span>
      </div>
      <div class="location">
        <span>위치 : 연세대, 인하대, 수원대</span>
      </div>
      <div class="image">
        <img
          src="{{url_for('static', filename='../static/img/detail/8.png')}}"
          alt=""
        />
      </div>
    </div>
  </div>

  {% endblock %}
</div>
